* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.app {

  width: 70%;
  height: 60%;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;

  grid-template-areas:
    "list winner"
    "start winner"
  ;

  border-radius: 1vmin;
  overflow: hidden;
}

.list-wrapper {
  grid-area: list;

  overflow: hidden;
  background-color: #ffc8dd;
}

.list {
  display: flex;
  height: max-content;
  min-height: 100%;
  flex-direction: column;
}

.item {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-content {
  font-size: 3vmin;
  transition: transform 0.2s;
  will-change: transform;
}

.candidate .item-content {
  transform: scale(2);
}

.winner-container {
  grid-area: winner;
  background-color: #bde0fe;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5vmin;
}

.start {
  font-size: 2vmin;
  font-weight: bold;
  text-transform: uppercase;
  grid-area: start;
  background-color: #ffafcc;
  border: none;
  outline: none;
}